<div id="excel-stream" class="d-flex h-50">
    <!-- <img id="browser_video" class="video-image" alt="video" src=""> -->
</div>
<div class="d-flex justify-content-around">
    <div id="excel-options"></div>
    <div id="excel-controlls">
        <button id="capture-button" type="button" class="btn btn-outline-primary">Capture</button>
        <button id="accept" type="button" class="btn btn-outline-primary">Accept</button>
        <button id="stop" type="button" class="btn btn-outline-danger">Stop</button>
    </div>
</div>

<div id="excel-overview"></div>
<script type="module" src="../js/excel_controller.js"></script>