<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<!-- <script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log("comes from html\n\t" + window.modules.test); // Skontrolujte, či sa testovacia správa správne načíta
        console.log("comes from html module named:\n\t" + window.modules.require('path')); // Skontrolujte, či sa testovacia správa správne načíta
    });
</script> -->

<script src="../js/controller.js"></script>
<body id="main-body">
    <div id="navbar-container"></div>
    <h1>Overview</h1>
    <div id="content" class="px-5"></div>
</body>
</html>
